body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hamburger-menu {
    display: none;
}
.wrapperAxit {
    max-width: 1170px;
}
.wrapperAxit__header {
    width: 100%;
}
.menu__logo img {
    margin-left: 30%;
}
.header__menu {
    display: flex;
    background: black;
    align-items: center;
}
.menu__navigation {
    margin-left: 25%;
}
.navigation__topMenu {
    list-style-type: none;
    display: flex;
}
.navigation__topMenu li a {
    display: block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 20px;
}
.navigation__topMenu li a:hover {
    background: #EC7979;
    display: block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 20px;
}
.wrapperAxit__container {
    background: url("../pictures/image.jpg");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 5% 10%;
}
.blockLeft__h1Title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: white;
}
.blockLeft__separator {
    width: 170px;
    border: 1px solid #FFFFFF;
}
.blockLeft__h5Title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.blockLeft__button {
    box-sizing: border-box ;
    width: 270px;
    height: 58px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center ;
    border: 2px solid #FFFFFF;

}
.blockLeft__button:hover {
    box-sizing: border-box ;
    width: 270px;
    height: 58px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #EC7979;
    text-align: center ;
    border: 2px solid #EC7979;
}
.rightBlock__form {
    height: 450px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
}
.rightBlock__form input {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    width: 370px;
    height: 38px;
    border: none;
    outline: none;
    border-bottom: 2px solid #BDBDBD;
    margin: 0 10px;
}
.form__inputPole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__h4Title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #333333;
}
.form__button {
    border: none;
    outline: none;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #EC7979;
    border-radius: 0 0 10px 10px;
    width: 400px;
    margin-top: 167px;
}
.form__button:hover {
    border: none;
    outline: none;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #AB4949;
    border-radius: 0 0 10px 10px;
    width: -webkit-fill-available;
    margin-top: 167px;
}
.wrapperAxit__footer {
    background: #F8EFEF;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
}
.leftBlock__h4Title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}
.leftBlock__h5Title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.footer__rightBlock {
    display: flex;
}
.footer__rightBlock i {
    padding: 0 10px;
    color: #CCCCCC;
}
.wrapper__bottomBlock {
    width: 1170px;
    display: flex;
    flex-direction: column;
}
.topContainer__title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.topContainer__separator {
    border: 1px solid #FFFFFF;
    width: 170px;
    text-align: center;
}
.topContainer__h5Title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
}
.topContainer__button {
    box-sizing: border-box ;
    width: 270px;
    height: 58px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center ;
    border: 2px solid #FFFFFF;
}
.topContainer__button:hover {
    box-sizing: border-box ;
    width: 270px;
    height: 58px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #EC7979;
    text-align: center ;
    border: 2px solid #EC7979;
}
@media (max-width: 820px) {
    .hamburger-menu {
        display: none;
    }
    .wrapperAxit__container {
        padding: 0 2% 2% 2%;
}
    .menu__navigation {
        margin-left: 5%;
    }
    .blockLeft__h1Title {
        font-size: 36px;
    }
    .blockLeft__h5Title {
        font-size: 14px;
    }
    .blockLeft__button {
        width: 183px;
        font-size: 18px;
    }
    .rightBlock__form input {
        width: 300px;
    }
    .rightBlock__form {
        height: 400px;
    }
    .wrapperAxit__footer {
        padding: 0 2%;
    }
    .footer__rightBlock i {
        padding: 0 4px;
        font-size: 40px;
    }
}
@media only screen and (max-device-width : 320px) {

    .wrapperAxit {
        width: 320px;
    }
    .wrapperAxit__container {
        background: url("../pictures/image.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5% 5% 5%;
    }
    .wrapperAxit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu__navigation {
        display: none;
    }
    .logoIMG {
        display: none;
    }
    .blockLeft__h1Title {
        font-size: 36px;
        color: #FFFFFF;
        text-align: center;
    }
    .blockLeft__h5Title {
        padding: 0 3%;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
    }
    .container__blockLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blockLeft__button {
        width: 288px;
    }
    .container__rightBlock {
        padding-top: 5%;
    }
    .rightBlock__form {
        height: 380px;
        width: 288px;
        border-radius: 10px;
    }
    .rightBlock__form input {
        width: 240px;
    }
    .form__button {
        width: 288px;
        height: 60px;
        margin-top: 65px;
    }
    .wrapperAxit__footer {
        display: flex;
        flex-direction: column;
    }
    .leftBlock__h4Title {
        font-size: 18px;
        text-align: center;
    }
    .leftBlock__h5Title {
        font-size: 14px;
        text-align: center;
    }
    .footer__rightBlock i {
        padding: 0 4px;
        font-size: 30px;
        padding-bottom: 5%;
    }

}

